@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f5fffe;
  --primary: #14b8d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-rajdhani);
  --font-heading: var(--font-orbitron);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rajdhani), Arial, Helvetica, sans-serif;
}

@keyframes spaceDrift {
  0%,
  100% {
    opacity: 0.28;
    transform: translate3d(0, 0, 0) scale(1);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, -18px, 0) scale(1.7);
  }
}

.orbital-ring {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 112%;
  height: 78%;

  border: 3px solid rgba(0, 212, 255, 0.95);
  border-radius: 9999px;

  transform:
    translate(-50%, -50%)
    rotate(-10deg)
    skewX(-18deg);

  box-shadow:
    0 0 8px rgba(0,212,255,.65),
    0 0 18px rgba(0,212,255,.45),
    0 0 42px rgba(0,212,255,.25);

  opacity: .95;
  pointer-events: none;
  z-index: 0;
}